@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scroll effect */
}

nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 5vh 8vw;
}

.logo {
    /* position: fixed; */
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.logo:hover{
    /* position: fixed; */
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navcenter {
    border-radius: 30px;
    transform: translateX(-50%);
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414c6;
    position: fixed;
    height: 40px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(25px);
    z-index: 999; /* High z-index for the nav */
    border: 1px solid hsla(0, 0%, 100%, .04);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .188), 0 10px 10px rgba(0, 0, 0, .169);
    transition: box-shadow .7s ease-in-out;
}


.Item_item__h59_f a {
    padding: 5px 25px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.Item_item__h59_f a:hover {
    color: white;
}

.active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgb(128, 125, 125);
    border-radius: 20px 0px 0px 20px;
    padding: 3px;
}

.navcenter .Item_item__h59_f:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgb(128, 125, 125);
    padding: 3px;
    color: white;
}

.navcenter .Item_item__h59_f:hover:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgb(128, 125, 125);
    padding: 3px;
    border-radius: 0px 20px 20px 0px;
    color: white;
}



.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    gap: 10vw;
    padding: 12vh 7vw 22vh 8vw;;

}

.hero h1{
    font-size: 40px;
    font-weight: 900;
}

.hero img{
    border-radius: 25px;
}

.hero button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.Tp__footer-main {
    background-color: #202022;
    color: #fff;
    padding-top: 89px;
    flex-direction: column;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.col-md-3 a{
    display: flex;
    color: #fff;
    text-decoration: none;
}

.col-md-3 a:hover{
    display: flex;
    color: #fff;
    text-decoration: none;
    flex-direction: row;
}

.smain{
    height: 46vh;
    width: 81vw;
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.smain button{
    background-color: rgb(0 0 0 / 59%);
    border: 1px solid rgb(157 153 153);
    padding: 3px;
    color: white;
    width: 116px;
    height: 35px;
    margin: 10px 10px 10px 36px;
    border-radius: 14px;
}

.s1{
    background-image: url("https://images.unsplash.com/photo-1589254065878-42c9da997008?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D");
    height: 46vh;
    width: 25vw;
    display: flex;
    border-radius: 13px;
    display: flex;
    flex-direction: column-reverse;
}
.s2{
    background-image: url("https://media.istockphoto.com/id/2170170558/photo/digital-human-concept-for-ai-metaverse-and-facial-recognition-technology.jpg?s=612x612&w=0&k=20&c=YVnGYKn3tGDtnR34J2fv9hnqlBZ2u9XX8oM7JbLkLgQ=");
    height: 46vh;
    width: 25vw;
    display: flex;
    border-radius: 13px;
    display: flex;
    flex-direction: column-reverse;
}
.s3{
    background-image: url("https://images.unsplash.com/photo-1677756119517-756a188d2d94?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIzfHx8ZW58MHx8fHx8");
    height: 46vh;
    width: 25vw;
    display: flex;
    border-radius: 13px;
    display: flex;
    flex-direction: column-reverse;
}

.communitymaincont{
    background-color: #312e2e;
    margin: 0px 80px;
    width: 87vw;
    height: 81vh;
    border-radius: 10px;
    display: flex;
    padding: 15px;
}

.cmt1{
    /* background-color: aliceblue; */
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgb(128, 125, 125);
    width: 15vw;
    height: 77vh;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 27vh;
}

.a{
    text-decoration: none;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cmt1 a{
    padding-left: 5px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;;
}

.cmt1 a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgb(128, 125, 125);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.imgandname{
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(163, 163, 162);
}

.imgandname img, svg {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 26px;
}

.cmt1-2{
    justify-content: end;
}

.cmt1-2 .icons{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.cmt2{
    /* background-color: #1e64a1; */
    width: 70vw;
    height: 77vh;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.cmt2-1{
    width: 68vw;
    height: 52vh;
    border-radius: 10px;
    display: flex;
}


.cmt2-1-1{
    /* background-color: aliceblue; */
    margin-top: 5px;
    width: 28vw;
    height: 44vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto;
    gap: 5px;
    padding: 5px;
}

.cmt2-1-1-1{
    background-color: black;
    width: 13vw;
    border-radius: 10px;
    height: 20vh;
}

.cmt2-1-1-2{
    background-color: black;
    width: 13vw;
    border-radius: 10px;
    height: 20vh;
}

.cmt2-1-1-3{
    background-color: black;
    width: 13vw;
    border-radius: 10px;
    height: 20vh;
}

.cmt2-1-1-4{
    background-color: black;
    width: 13vw;
    border-radius: 10px;
    height: 20vh;
}

.cmt2-1-2{
    background-color: rgb(236, 221, 5);
    width: 40vw;
    height: 44vh;
    border-radius: 10px;
}

.cmt2-2{
    background-color: rgb(202, 23, 23);
    width: 68vw;
    height: 20vh;
    border-radius: 10px;
}


/* -------------------------------------------------------------------------------------------- */
/* Community Page css */

.main_community_cont{
    width: 82vw;
    height: 74vh;
    margin: -1vh 0px 9vh 8vw;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: #312e2e; */
}

.community_cont_1{
    width: 14vw;
    height: 78vh;
    background-color: #312e2e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.community_left_a a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    padding-left: 5px;
    text-decoration: none;
    color: #dddddd;
    font-family: sans-serif;

}

.community_left_a a:hover{
    background-color: #198754;
    border: 0.5px solid rgb(128, 125, 125);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.community_left_a a:active{
    background-color: #198754;
    border: 0.5px solid rgb(128, 125, 125);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.community_categories{
    margin-top: 5px;
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.community_categories a{
    text-decoration: none;
    color: #dddddd;
}

.community_categories a:hover{
    background-color: #198754;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

/* ---------------------------------------------------------------------------------- */

.community_cont_2{
    width: 68vw;
    height: 78vh;
    background-color: #292727ef;
    border-radius: 10px;
    overflow: scroll;
}

.community_cont_2::-webkit-scrollbar {
    display: none;
}

.community_cont_2_head_main{
    padding: 5px;
    width: 65vw;
    height: 8vh;
    margin: 8px 0px 0px 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
}

.community_cont_2_head_1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.community_table_heads{
    margin: 12px 26px 0px 16px;
    color: #dddddd;
}




