{% extends "index.html" %}
{% block tittle %}Community{% endblock tittle %}
{% block body %}

<div class="main_community_cont">
    <div class="community_cont_1">
        <h1 style="background-color: rgba(255, 255, 255, 0.1); color: white; font-family: 'Bebas Neue', sans-serif; font-size: 20px; padding: 5px; border-radius: 5px;">Community Forum</h1>
        <div class="community_left_a">
            <a style="text-decoration: none;" href="">Topics</a>
            <a href="">Users</a>
            <a href="">About</a>
            <a href="">Badges</a>
            <a href="">Blogs</a>
        </div>
        <div class="community_categories">
            <h1 style="background-color: rgba(255, 255, 255, 0.1); color: white; font-family: 'Bebas Neue', sans-serif; font-size: 20px; padding: 5px; border-radius: 5px; margin-top: 5px;">Categories</h1>
            <a href="">General</a>
            <a href="">All Categories</a>
        </div>
    </div>
    <div class="community_cont_2">
        <div class="community_cont_2_head_main">
            <div class="community_cont_2_head_1">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tags
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button">#rowsearch</button></li>
                    {% comment %} <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li> {% endcomment %}
                </ul>
            </div>
            <button type="button" class="btn btn-outline-success">Top</button>
        </div>
        <div class="community_cont_2_head_2">
            <div class="dropdown">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  New Topic
                </button>
                <form class="dropdown-menu p-4">
                  <div class="mb-3">
                    <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                      <label class="form-check-label" for="dropdownCheck2">
                        Remember me
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
              </div>
        </div>
        </div>
        <div class="community_table_heads">
            <table class="table">
                <thead style="color: white;">
                  <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Replies</th>
                    <th scope="col">Views</th>
                    <th scope="col">Activity</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider" style="color: white;">
                  <tr>
                    <td>
                        <a href="" style="text-decoration: none; color: white;">Welcome to Julius Community Forum! 🖐 <br>
                        <div class="type" style="display: flex; flex-direction: row; gap: 7px;"><div style="background-color: blue; width: 12px; height: 12px; margin-top: 6px;"></div>General</div></a>
                    </td>
                    <td>
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHByb2ZpbGUlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGUlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1494257243/photo/smile-happy-and-portrait-of-business-man-in-studio-for-success-confidence-mindset-and.jpg?s=612x612&w=0&k=20&c=oraDmWILAD5cWVAflBLG_SoPdqsHDW3cP65dJSW44OE=" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?s=612x612&w=0&k=20&c=kPvoBm6qCYzQXMAn9JUtqLREXe9-PlZyMl9i-ibaVuY=" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1407759041/photo/confident-happy-beautiful-hispanic-student-girl-indoor-head-shot-portrait.jpg?s=612x612&w=0&k=20&c=12CUDMMzA78XFt16_0PynybQ5O4EBpNSIWSlYsCA8Zc=" alt="">
                    </td>
                    <td>11k</td>
                    <td>2d</td>
                  </tr>
                  <tr>
                    <td>
                        RABIc has been crashing lately. <br>
                        <div class="type" style="display: flex; flex-direction: row; gap: 7px;"><div style="background-color: rgb(7, 122, 65); width: 12px; height: 12px; margin-top: 6px;"></div>Guide</div>
                    </td>
                    <td>
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGUlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1494257243/photo/smile-happy-and-portrait-of-business-man-in-studio-for-success-confidence-mindset-and.jpg?s=612x612&w=0&k=20&c=oraDmWILAD5cWVAflBLG_SoPdqsHDW3cP65dJSW44OE=" alt="">

                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1407759041/photo/confident-happy-beautiful-hispanic-student-girl-indoor-head-shot-portrait.jpg?s=612x612&w=0&k=20&c=12CUDMMzA78XFt16_0PynybQ5O4EBpNSIWSlYsCA8Zc=" alt="">
                    </td>
                    <td>45k</td>
                    <td>Nov 12</td>
                  </tr>
                  <tr>
                    <td>
                        Summarizing Academic Articles <br>
                        <div class="type" style="display: flex; flex-direction: row; gap: 7px;"><div style="background-color: rgb(7, 122, 65); width: 12px; height: 12px; margin-top: 6px;"></div>Guide</div>
                    </td>
                    <td>
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHByb2ZpbGUlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGUlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
                        <img width="28" height="28" style="margin: 0px 1px 0px 0px; border-radius: 12px;" src="https://media.istockphoto.com/id/1494257243/photo/smile-happy-and-portrait-of-business-man-in-studio-for-success-confidence-mindset-and.jpg?s=612x612&w=0&k=20&c=oraDmWILAD5cWVAflBLG_SoPdqsHDW3cP65dJSW44OE=" alt="">

                    </td>
                    <td>3.3k</td>
                    <td>Oct 12</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock body %}